<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <!-- Navbar content -->
    <a [routerLink] = "['about']"><b>About</b></a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <a [routerLink] = "['portfolio']"><b>Portfolio</b></a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <a [routerLink] = "['contact']"><b>Contact</b></a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <button class="btn btn-danger" (click) = "logout()">Logout</button>
  </nav>
<br><br>

<router-outlet></router-outlet>